@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b00v41');
  src:  url('fonts/icomoon.eot?b00v41#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b00v41') format('truetype'),
    url('fonts/icomoon.woff?b00v41') format('woff'),
    url('fonts/icomoon.svg?b00v41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rabbitmq_plain:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e902";
}
.icon-lab:before {
  content: "\e901";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-trash-o:before {
  content: "\e904";
}
